/* --- ESTILO GENERAL --- */
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Segoe UI", sans-serif;
  background-color: #f3d8ff;
  width: 100%;
}

#cuerpo {
  display: block;
}

/* COLORES DE LOS TITULOS */

.titulo1 {
  color: #ffffff;
}

.titulo2 {
  color: #580081;
}

/* CENTRA TODOS LOS ICONOS */
.img-centrada {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* --- COLORES PERSONALIZADOS --- */
.bg-violeta-claro {
  background-color: #f3d8ff;
}
.bg-violeta-oscuro {
  background-color: #c372f5;
}

/* --- CUENTA REGRESIVA --- */
#cuenta-boda {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: transparent;
}

.contador {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.unidad-contenedor {
  background-color: #c372f5;
  color: #fff;
  padding: 10px;
  border-radius: 12px;
  min-width: 70px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.valor {
  font-size: 48px;
  font-weight: bold;
}

.etiqueta {
  font-size: 14px;
  margin-top: 4px;
}

.separador {
  font-size: 48px;
  font-weight: bold;
  color: #ffffff;
  padding: 0 5px;
}

/* TIPOGRAFIAS */

h1 {
  font-weight: bold;
}

/* AZUL */
.gloock-regular {
  font-family: "Gloock", serif;
  font-weight: 400;
  font-style: normal;
}

/* ROJOS */
.fuente-ebgaramond {
  font-family: "EB Garamond", serif;
  font-weight: 400;
}

/* VIOLETAS */
.fuente-greatvibes {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 36px; /* Ajusta el tamaño como lo necesites */
}

/* VERDES */
.fuente-azeret {
  font-family: "Azeret Mono", monospace;
  font-weight: 100;
}

/* --- MODAL --- */
.modal {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #c372f5;
  border-radius: 12px;
  max-width: 500px;
  width: 90%;
  padding: 20px;
  text-align: center;
  color: white;
}

.close {
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

/* ITINERARIO */

/* Cuadro decorativo simple para itinerario */
.cuadro-itinerario {
  border: 2px solid #580081; /* Línea fina blanca */
  border-radius: 15px; /* Bordes suavemente redondeados */
  padding: 2rem 1rem; /* Espaciado interior */
  background-color: transparent; /* Fondo sin color */
}

/* --- TARJETAS --- */
section.bg-violeta-claro .card {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25); /* Espacio interno entre el borde de la tarjeta y su contenido.*/
  transition: transform 0.3s ease;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100%;
}

/* EFECTO HOVER (cuando pasás el mouse) */

section.bg-violeta-claro .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
}

/* DETALLES DE TEXTO Y CONTENIDO */

section.bg-violeta-claro .card-body {
  padding-top: 5px;
}
section.bg-violeta-claro .card-title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
section.bg-violeta-claro .card p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

/* BOTÓN DENTRO DE LA CARD */
section.bg-violeta-claro .btn-outline-light {
  border-width: 2px;
  font-weight: 600;
  align-self: center;
  width: 90%;
  max-width: 200px;
}

/* BOTÓN DE CONFIRMACIÓN DE ASISTENCIA */
.btn-confirmacion {
  color: #580081;
  border: 2px solid #580081;
  background-color: transparent;
  transition: all 0.3s ease;
  font-weight: 600;
}

.btn-confirmacion:hover {
  background-color: #580081;
  color: white;
}

/* BOTON DE PLAY */

#boton-musica {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #580081;
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  animation: flotar 2s ease-in-out infinite;
  transition: background-color 0.3s ease;
}
#boton-musica:hover {
  background-color: #c372f5;
}
#icono-musica {
  font-size: 1.5rem;
}
@keyframes flotar {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

/* IMAGEN REDONDA DE LA CARD */

section.bg-violeta-claro .card img.rounded-circle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  object-fit: cover;
  background-color: rgb(255, 255, 255);
}

/* DETALLES DE BODA */
.detalles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Íconos en sección detalles */
.icono-detalle {
  font-size: 2.5rem; /* Tamaño grande del ícono */
  display: block; /* Que ocupe toda la línea */
  margin-bottom: 0.5rem; /* Espacio debajo del ícono */
  color: #580081;
}

/* ICONOS REDONDOS */
.icon-container {
  display: inline-block;
  background-color: #c372f5; /* Color blanco */
  padding: 10px; /* Espacio alrededor de la imagen */
  border-radius: 50%; /* Hacer que el contenedor sea redondo */
  width: 80px; /* El tamaño del círculo, ajusta según sea necesario */
  height: 80px; /* El mismo tamaño que el ancho */
  display: flex;
  justify-content: center; /* Centra la imagen horizontalmente */
  align-items: center; /* Centra la imagen verticalmente */
}

.icon-container img {
  border-radius: 50%; /* Asegura que la imagen sea redonda */
}

/* LINEAS DE LAS FRASES */
.linea-blanca {
  border: 0;
  height: 4px; /* Ajusta el grosor de la línea */
  background-color: white; /* Asegúrate de que sea blanca */
}

/* ALIMENTACION CENTRADO */

.icono-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  margin-bottom: 10px; /* Espacio entre la imagen y el título */
}

.icono-detalle {
  display: block; /* Eliminar posibles espacios debajo de la imagen */
}

/* Asegúrate de que los iconos */
.icono-responsive {
  width: 60px; /* Tamaño base */
  height: 60px;
  max-width: 100%; /* Asegura que el icono no se estire más allá de su contenedor */
  margin-bottom: 15px; /* Espaciado debajo del icono */
}

/* Asegurar que los títulos y textos sean también responsivos */
.gloock-regular {
  font-size: 1.25rem; /* Tamaño del texto */
}

.fuente-ebgaramond {
  font-size: 1rem; /* Tamaño de texto más pequeño */
}

/* Asegúrate de que la imagen ocupe todo el ancho disponible */
.img-fluid {
  width: 100%;
  height: auto;
}

/* Capa oscura encima de la imagen */
.overlay {
  position: absolute;
  top: 0; /* Cubre desde el principio de la imagen */
  left: 0;
  right: 0;
  height: 100%; /* La capa cubre la mitad superior */
  background: rgba(0, 0, 0, 0.5); /* Fondo oscuro semi-transparente */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Estilo del texto dentro de la capa oscura */
.overlay h2 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

/* Establece el contenedor como relativo para el posicionamiento absoluto */
.container {
  position: relative;
}

/* --- FUENTES PERSONALIZADAS --- */
.titulo-great {
  font-family: "Great Vibes", cursive;
  font-size: 3rem;
  color: #580081;
  margin-bottom: 1rem;
}

.texto-ingreso {
  font-size: 3rem;
  color: #580081;
  margin-bottom: 2rem;
}

/* --- FONDO GENERAL DE INGRESO --- */
.fondo-ingreso {
  margin: 0;
  padding: 0;
  background-color: #f3d8ff;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* --- TEXTO CENTRADO SOBRE FONDO --- */
.texto-centrado {
  padding: 2rem;
}

/* --- BOTÓN DE INGRESO --- */
.btn-ingresar {
  border: 2px solid #580081;
  color: #580081;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0.5rem 2rem;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
}

.btn-ingresar:hover {
  background-color: #ffffff;
  color: #580081;
}

/* --- RESPONSIVE --- */
@media (max-width: 768px) {
  #cuenta-boda {
    padding: 0.5rem;
    height: auto;
  }

  .unidad-contenedor {
    min-width: 50px;
    padding: 6px;
  }

  .valor {
    font-size: 28px;
  }
  .etiqueta {
    font-size: 12px;
  }
  .separador {
    font-size: 28px;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  section {
    padding: 1.5rem 1rem;
  }

  section.bg-violeta-claro .card-title {
    font-size: 1.3rem;
  }

  section.bg-violeta-claro .card p {
    font-size: 1rem;
  }

  section.bg-violeta-claro .btn-outline-light {
    max-width: 100%;
  }

  .fuente-greatvibes {
    font-size: 20px;
  }
}

/* Para pantallas pequeñas */
@media (max-width: 576px) {
  .gloock-regular {
    font-size: 1rem; /* Reducir el tamaño del título */
  }

  .fuente-ebgaramond {
    font-size: 0.875rem; /* Reducir el tamaño del texto */
  }
}

/* Para pantallas pequeñas (móviles) */
@media (max-width: 576px) {
  .icono-responsive {
    width: 40px; /* Reducir el tamaño en pantallas más pequeñas */
    height: 40px;
  }
}

/* Para pantallas medianas (tabletas) y más grandes */
@media (min-width: 576px) {
  .icono-responsive {
    width: 60px; /* Tamaño estándar para pantallas medianas y grandes */
    height: 60px;
  }
}
